<nav>
    <div class="top-row">
        <h1 itemprop="name">Kondičky Praha</h1>
        <span id="menu-icon"><img src="/icon-menu-white.svg" alt="menu icon" width="24" height="24"></span>
    </div>

    <ul id="menu">
        <a href="#references">
            <li>Recenze</li>
        </a>
        <a href="#price">
            <li>Cena</li>
        </a>
        <a href="#how-it-works">
            <li>Jak to probíhá</li>
        </a>
        <a href="#contact">
            <li>Kontakt</li>
        </a>
    </ul>

</nav>