{{ partial "header.html" . -}}
<div class="main-contact limiter">
    <p>Vladimír Svoboda</p>

    <p class="telephone"><a href="tel:{{ .Params.phone }}"> {{ .Params.phone }} </a>
    </p>
</div>
<div class="limiter-xlg"><img class="main-image" src="/main.jpg" alt="Car with a person standing"></div>
<div class="section">
    <h2>Proč na kondiční jízdy?</h2>
    <div class="text-center">
        {{ .Params.drivingSchoolBenefits | markdownify }}
    </div>
</div>
<div class="section" id="references">
    <h2 class="limiter">Proč zrovna u nás?</h2>
    <div class="reasons-list limiter">
        {{ .Params.reasons | markdownify }}
    </div>
    <div class="list limiter-lg">
        {{ range .Params.reviews }}
        <div class="reference-item">
            <strong>{{ .fullName }}</strong>
            <p>{{ .reviewBody }}</p>
        </div>
        {{ end }}
    </div>
    <img src="/references.png" alt="Reference 5 stars">
</div>
<div class="section">
    <h2>S čím budete řídit?</h2>
    <figure class="limiter-lg">
        <img src="/car.png" alt="Skoda superb 2020">
        <figcaption>
            Škoda Superb 2020 - manuál
        </figcaption>
    </figure>
    <p class="limiter">Jízdy můžete absolvovat po domluvě i ve vlastním autě.</p>
</div>
<div class="section limiter text-center" id="price">
    <h2>Cena</h2>
    {{ .Params.price | markdownify }}
</div>
<div class="section limiter-xlg" id="how-it-works">
    <h2>Jak to probíhá?</h2>
    <div class="list">
        {{ range .Params.howItWorks }}
        <div class="primary-card">
            <h3>{{.stepName}}</h3>
            <p>{{.stepDescription}}</p>
        </div>
        {{ end }}
    </div>
</div>
<div class="section limiter">
    <h2>Dárkové poukazy</h2>
    {{ .Params.vouchers | markdownify }}
</div>
<div class="section limiter text-center" id="contact">
    <h2>Jak se objednat?</h2>
    <p><strong>Vladimír Svoboda</strong></p>
    <p class="telephone"><a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a></p>
    <p class="email"><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
    <a href="https://www.facebook.com/KondickyPraha"><img src="/icon-facebook.svg" alt="Facebook icon" /></a>
</div>
<div class="section limiter">
    <h2>Napište nám!</h2>
    <form action="https://kondickyprahacontact.devsto.workers.dev/" method="post">
        <label for="name">Jméno a příjmení</label>
        <input type="text" name="name" id="name" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="phone">Telefon</label>
        <input type="tel" name="phone" id="phone" required>

        <label for="hours">Počet hodin</label>
        <input type="number" name="hours" id="hours" required>

        <label for="message">Zpráva</label>
        <textarea type="text" name="message" id="message"></textarea>

        <label for="voucher">Chci objednat jako dárkový poukaz</label>
        <input type="checkbox" name="voucher" id="voucher">

        <button type="submit">Odeslat objednávku</button>
    </form>
    <div class="form-alert-success form-alert">
        <p>Úspěšně jsme přijali Vaši zprávu. Děkujeme.</p>
    </div>
    <div class="form-alert-error form-alert">
        <p>Nepodařilo se zprávu odeslat, pošlete nám prosím email, nebo nám zavolejte.</p>
    </div>
</div>
<script>
    //for disabled js
    document.addEventListener("DOMContentLoaded", function () {
        const menu = document.querySelector('#menu');
        menu.classList.add('menu-closed');
        setTimeout(function () {
            menu.style.transitionProperty = 'all';
            menu.style.transitionDuration = '0.3s';
        }, 1);
        if (window.outerWidth < 768) {
            document.querySelectorAll('#menu a').forEach(el => {
                el.addEventListener('click', toggleMenuState);
            });
        }
    });
    document.querySelector('#menu-icon').addEventListener('click', toggleMenuState);

    function toggleMenuState() {
        const menu = document.querySelector('#menu');
        const body = document.querySelector('body');
        const menuIcon = document.querySelector('#menu-icon img');
        menu.classList.toggle('menu-closed');
        if (menu.classList.contains('menu-closed')) {
            //state open -> closed
            body.style.overflowY = 'auto';
            menuIcon.setAttribute('src', '/icon-menu-white.svg');
        } else {
            //state closed -> open
            body.style.overflowY = 'hidden';
            menuIcon.setAttribute('src', '/icon-close.svg');
        }
    }
    document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault();

        document.querySelector('.form-alert-error').style.display = 'none'
        document.querySelector('.form-alert-success').style.display = 'none'

        const name = document.querySelector('#name').value;
        const email = document.querySelector('#email').value;
        const phone = document.querySelector('#phone').value;
        const hours = document.querySelector('#hours').value;
        const message = document.querySelector('#message').value;
        const voucher = document.querySelector('#voucher').checked;

        const body = {
            'name': name,
            'email': email,
            'phone': phone,
            'hours': hours,
            'message': message,
            'voucher': voucher,
        }
        const res = await fetch("https://kondickyprahacontact.devsto.workers.dev/", {
            method: "POST",
            body: JSON.stringify(body),
            headers: {
                "Content-Type": "application/json"
            }
        });

        res.status == 202
            ? document.querySelector('.form-alert-success').style.display = 'block'
            : document.querySelector('.form-alert-error').style.display = 'block';
    });
</script>
<article>
    {{ partial "footer.html" . }}